i {
    color: rgb(223, 0, 0);
    font-size: 80px;
    position: absolute;
}

.clicked {
    font-size: 117px;
    transform: translate(-11px, -30px);
    transition: all .2s;
}

.end-marker {
    /* display: none; */
}

.start-marker {
    color: darkgreen;
    display: none;
}

.map-container {
    height: 1030px;
    width: 980px;
    background-image: url('../map.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
#engr {
    top: 160px;
    left: 600px;
}
#sci {
    top: 270px;
    left: 580px;
}
#law {
    top: 345px;
    left: 780px;
}
#biz {
    top: 560px;
    left: 155px;
}
#human {
    top: 540px;
    left: 340px;
}
#dorm {
    top: 220px;
    left: 850px;
}
#back-gate {
    top: 400px;
    left: 285px;
}
#hak {
    top: 350px;
    left: 370px;
}
#posco {
    top: 360px;
    left: 505px;
}
#main-gate {
    top: 880px;
    left: 480px;
}
#research {
    top: 130px;
    left: 730px;
}

.dest-text {
    border-top: 4px solid black;
    padding-top: 2em;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.dropdown {
    display: flex;
    /* flex-direction: column; */
    padding: 5%;
    text-align: center;
}

/* .dest1 {
    position: absolute;
    z-index: 2;
}
.dest2 {
    position: relative;
    z-index: 1;
} */

.step1 {
    /* display: flex; */
    /* flex-direction: row; */
    font-size: 50px;
    font-weight: bold;
    margin-right: 13px;
    padding-top: 15px;
}

.dropbtn-plus {
    display: inline-block;
}

.dropbtn {
    display: block;
    background-color:#E7F0E6;
    padding: 20px;
    width: 563px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    z-index: 1;
    position: relative;
    border-radius: 2px;
    border : 2px solid rgb(94, 94, 94);
}
.dropdown-content {
    background-color: #E7F0E6;
    width: 560px;
    height: 240px;
    overflow: scroll;
    box-shadow: 0px 0px 10px 1px rgba(190, 190, 190, 0.6);
}
/* .endlist {
    display: none;
} */
/* .startlist {
    display: none;
} */
.dropdown-content::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color :rgb(194, 194, 194)
}
.dropdown-content div{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 40px;
    padding : 12px 20px;
  }
  .dropdown-content.show{
    display : block;
  }

  .next-btn {
    font-size: 2.6em;
    background-color: #E7F0E6;
    border: 3px solid yellowgreen;
    width: 6em;
    text-align: center;
    padding: 15px;
    border-radius: 5em;
    margin-right: 1em;
    margin-top: 1em;
    position: absolute;
    right: 0%;
  }