i {
    color: rgb(223, 0, 0);
    font-size: 5em;
    position: absolute;
}

.map-container {
    height: 1030px;
    width: 980px;
    background-image: url('../map.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
#engr {
    top: 160px;
    left: 600px;
}
#sci {
    top: 270px;
    left: 580px;
}
#law {
    top: 345px;
    left: 780px;
}
#biz {
    top: 560px;
    left: 155px;
}
#human {
    top: 540px;
    left: 340px;
}
#dorm {
    top: 220px;
    left: 850px;
}

.dest-text {
    border-top: 4px solid black;
    display: flex;
    justify-content: center;
}

.dropdown {
    display: flex;
    padding: 5%;
    text-align: center;
}

.step1 {
    font-size: 50px;
    font-weight: bold;
    margin-right: 13px;
    padding-top: 15px;
}

.dropbtn-plus {
    display: inline-block;
}

.dropbtn {
    display: block;
    background-color:#E7F0E6;
    padding: 20px;
    width: 563px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    z-index: 1;
    position: relative;
    border-radius: 2px;
    border : 2px solid rgb(94, 94, 94);
}
.dropdown-content {
    display: none;
    background-color: #E7F0E6;
    width: 560px;
    height: 240px;
    overflow: scroll;
    box-shadow: 0px 0px 10px 1px rgba(190, 190, 190, 0.6);
}
.dropdown-content::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color :rgb(194, 194, 194)
}
.dropdown-content div{
    display : block;
    text-decoration : none;
    color : rgb(37, 37, 37);
    font-size: 40px;
    padding : 12px 20px;
  }
  .dropdown-content.show{
    display : block;
  }