<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>배꽃길 - 셔틀 안내 사항</title>
    <link rel="stylesheet" href="../headerStyle.css">
    <link rel="stylesheet" href="BusNoticeStyle.css">
</head>
<body>
    <header>step 3. 길 안내</header>
    <div class="container">
        <div class="notice">
            <div class="box shuttle">셔틀 안내 사항</div>
            <div class="letters">
                1. 운행시간<br/>
                평일 주간: 07:50~21:00<br/>
                평일 야간: 21:10~23:40<br/>
                토요일: 18:00~23:40<br/>
                일요일: 노선 미운행<br/><br/>
                2. 미운행시간: 12:00~13:00
            </div>
        </div>
        <div class="routes">
            <div class="day">
                <div class="box">주간 셔틀</div>
            </div>
            <div class="night">
                <div class="box">야간 셔틀</div>
            </div>
        </div>
    </div>
</body>
</html>